<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNUKhata | Monthly Ledger</title>
<style type="text/css">

.selected
{
  background-color: Aquamarine;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
}
</style>
</head>
<body>
  <div id="monthdiv" class="container-fluid">
    <div class="panel">
      <div class="panel-heading">
        <span style="margin:auto; display:table;"><i>Ledger Account</i> : <strong>{{accountname}}</strong></span>
        <input type="hidden" id="accname" name="projectname" value="{{accountname}}"></input>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table id="mthltable" class="shadow table table-bordered table-condensed">
            <thead>
              <tr>
                <th class="col-xs-3">Month</th>
                <th style="text-align:right" class="col-xs-3">Debit</th>
                <th style="text-align:right" class="col-xs-3">Credit</th>
                <th style="text-align:center" class="col-xs-3">No. of Vouchers</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
              <tr  value="{{record['period']}}">
                <td class="col-xs-3">
                  <a class="monthname" href="#">{{record['month']}}</a>
                </td>
                {%if record["advflag"]==1%}
                <td class="col-xs-3 hidden-print" style="text-align:right; color:red;">
                  <b>{{record["Dr"]}}</b>
                </td>
                <td class="col-xs-3 hidden-print" style="text-align:right; color:red;">
                  <b>{{record["Cr"]}}</b>
                </td>
                <td class="col-xs-3 visible-print" style="text-align:right; color:red;">
                  {% if record.Dr %}
                    <b>({{record["Dr"]}})</b>
                  {% endif %}
                </td>
                <td class="col-xs-3 visible-print" style="text-align:right; color:red;">
                  {% if record.Cr %}
                    <b>({{record["Cr"]}})</b>
                  {% endif %}
                </td>
                {%else%}
                <td class="col-xs-3" style="text-align:right">
                  {{record["Dr"]}}
                </td>
                <td class="col-xs-3" style="text-align:right">
                  {{record["Cr"]}}
                </td>
                {%endif%}
                <td class="col-xs-3" style="text-align:center">
                  {{record["vcount"]}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer hidden-print">
        <span style="margin:auto; display:table;">
        <button type="button" class="btn btn-sm btn-danger" id="mthlback" accesskey="b"><u>B</u>ack</button>
        <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">E<u>x</u>port to Spreadsheet</button>
        <button class="btn btn-sm btn-primary" type="button"  id="realprintmonth" accesskey="t">Prin<u>t</u></button>
      </span>
      </div>
    </div>
    <input type="hidden" id="accountcode" value="{{accountcode}}">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/monthledger.js')}}"></script>
</body>
</html>
